---
---

<section class="clientLogos" aria-label="Client logos">
  <img src="/logos/nfl.svg" alt="NFL" loading="lazy" />
  <img src="/logos/jr.svg" alt="JR" loading="lazy" />
  <img src="/logos/toho-studios.svg" alt="TOHO STUDIOS" loading="lazy" />
  <img src="/logos/kadokawa-dwango.svg" alt="角川ドワンゴ学園" loading="lazy" />
  <img src="/logos/oasis.svg" alt="OASIS" loading="lazy" />
</section>
